@font-face {
  font-family: Trattatello;
  src: url(Trattatello.ttf);
}

.detailarea {
    background-color:lightpink;
}
  
 .titlearea {
    background-color:lightpink;
 }

 .title {
    color: darkorchid;
    text-align: center;
    font-family: Trattatello;
    font-size: 90pt;
    text-shadow: 5px 5px 10px orchid;
    -webkit-text-stroke: 1px black;
  }

  .game {
    position: relative;
    width: 100%;
  }
  
  h2 {
    color: darkorchid;
    font-size: 24pt;
    text-align: center;
    font-family: Trattatello;   
  }

  p,li {
    font-family: cursive;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
  }